.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 10%;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;

    img {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(20deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 120%;
        opacity: 1;
        transform: rotateZ(30deg);
        z-index: 1;
        // animation: fadeIn 1s forwards; //this is handles by the layout.scss '.container'
        // animation-delay: 4s;
    }
    
}